@import "../shared/helper";
.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-size: cover;
  .wrapper{
    flex: 1;
    padding: px(30) px(50);
    display: flex;
    flex-direction: column;

    > header{
      color:#f2deb5;
      margin: 0 auto;
      text-align: center;
      width: px(2420);
      height: px(70);
      font-size: 24px;

    }
    .bordered {
      border: 1px solid #0764bc;
      border-radius: 4px;
      position: relative;
      box-shadow: 0 0 2px 0 #0e325f, inset 0 0 2px 0 #0e325f;
      background: transparent;
      backdrop-filter: blur(2px) brightness(50%);

      &::before {
        pointer-events: none;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        box-shadow: 17px 0 0 -16px #0e325f,
        -17px 0 0 -16px #0e325f,
        0 17px 0 -16px #0e325f,
        0 -17px 0 -16px #0e325f,
        9px 0 0 -8px #0d4483,
        -9px 0 0 -8px #0d4483,
        0 9px 0 -8px #0d4483,
        0 -9px 0 -8px #0d4483,;
        border-radius: 4px;
      }
    }
    > main {
      width: px(2420);
      margin: 0 auto;
      flex: 1;
      display: grid;
      padding-top: px(30);
      grid-template-rows: 400fr 200fr 355fr;
      grid-template-areas: "box1" "box2" "box3";
      //grid-template:
      //"box1 box2 box4 box5" 755fr
      //"box3 box3 box4 box5" 363fr / 366fr 361fr 811fr 747fr;
      grid-column-gap: px(12);
      grid-row-gap: px(12);

      > section {


      }
      > .section1{
        grid-area: box1;
        display: flex;


      }
      > .section2{
        grid-area: box2;
      }
      > .section3{
        grid-area: box3;
      }

    }
    > footer {
      height: px(50);
      border: 1px solid #0d2d59;
      margin: px(20) 0 1px;
      border-radius: 4px;
      background: transparent;
      backdrop-filter: blur(2px) brightness(50%);
      display: flex;
      align-items: center;
      justify-content: center;
      color:white;
    }
  }
  .销量{
    color:$font-color;
    width: px(600);
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .round{
      text-align: center;
      > span{
        font-size: px(10);
      }
      > span::before{
        display: inline-block;
        content: '';
        top:0;
        left:0;
        width: px(16);
        height: px(16);
        border-radius: 50%;
        margin-left: px(20);

      }
      .销售额::before{
        background: #8d70f0;
      }
      .周环比::before{
        background: #ecb2ff;
      }
    }
  }
  .sales{
    display: flex;
    height: px(150);
    justify-content: space-between;

    .ratioWrapper{
      width:px(295);
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: px(10);
      .today{
        font-size: px(26);
      }
      .number{
        font-size: px(40);
        text-align: center;
      }
      .ratio{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: px(10);

       > i{
         color:#a8e6a2;
       }
      }
    }

  }
  .map{
    width:px(620);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: px(10);
  }
  .chart {
    flex:1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .charts{
      flex: 1;
      width: 100%;
    }
  }
}
